<div class="blogDiv">
    <a href="/posts-routes/{{ id }}" class="post-routeLink">
        <div class="blogpostTitle">
            <h2>{{ title }}</h2>
            <h1>Posted by {{ user.username }} on {{ formatDate createdAt }}</h1>
        </div>
    </a>
    <p>{{ post }}</p>
</div>